html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  --accent-color-blue: #00acdc;
  --text-primary-color: #060b35;
  --text-secondary-color: #616070;

  color: var(--text-secondary-color);
}

body {
  margin: 0;
  box-sizing: border-box;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("./images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.stars__star:first-child {
  margin-left: 0;
}

/* only n=0 defines the amount of stars in each row */
/* with n>0 results decrease (no active stars visible) */
.stars--1 .stars__star:nth-child(-n + 1),
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url("./images/star-active.svg");
}
